/* @import "toastify-js/src/toastify.css"; */
@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "Lato Regular";
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
}

.container {
  color: "#fff";
  margin: auto;
  background-color: none;
  border-radius: 20px;
}

.navbar {
  background-color: #1e1e1e;
}

.navbar > .container-fluid {
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav > .container-fluid > .logo-home {
  color: #fff;
  font-family: "Bebas Neue";
}

nav > .container-fluid > .pages-home {
  color: #fff;
  align-items: center;
  font-family: "Lato Regular";
  display: flex;
  gap: 30px;
}

nav > .container-fluid > a {
  color: #fff;
  text-decoration: none;
  text-transform: none;
}

main {
  display: flex;
  flex: 1;
}

main > section > .container > .title-home {
  color: #fff;
  text-align: center;
}

.content {
  flex: 3;
  padding: 20px;
}

.sidebar {
  flex: 0.05;
  min-height: max-content;
  padding: 20px;
  background-color: #2a2a2a;
  color: #ffff;
  transition: 0s ease-in-out;
}

.sidebar.expanded {
  flex: 0.5;
}

.sidebar > .box-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.middle-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.5s;
}

.footer-sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: 0.5s;
}

.sidebar > .box-sidebar > .header-sidebar > .icon-hamburguer {
  display: grid;
  width: 100%;
  height: 20px;
  align-items: center;
  cursor: pointer;
}

.sidebar.expanded .icon-hamburguer {
  justify-items: end;
}

.sidebar > .box-sidebar > .icon-servicos {
  justify-content: flex-end;
}

.sidebar.expanded .middle-sidebar {
  align-items: flex-start;
}

.sidebar.expanded .footer-sidebar {
  align-items: flex-start;
}

.sidebar > .box-sidebar > .header-sidebar > .icon-hamburguer > .list {
  font-size: x-large;
  transition: 0.5s;
}

.icons {
  display: flex;
  transition: 0.5s;
}

.icons:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.icons > .bi {
  font-size: x-large;
  cursor: pointer;
}

.sidebar.expanded .icons {
  transform: none;
  transition: 0ms;
}

.sidebar.expanded .icons:hover {
  color: #000;
}

.desc {
  height: 100%;
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity 1s ease-out, transform 1s ease-out, clip-path 1s ease-out,
    width 1s ease-out;

  clip-path: inset(0 100% 0 0); /* Esconde completamente */
  width: 0; /* Garante que a div não ocupe espaço */
  overflow: hidden; /* Evita que o conteúdo vaze */
  white-space: nowrap; /* Impede quebra de linha */
}

/* Quando a sidebar expande, a descrição aparece suavemente */
.sidebar.expanded .desc {
  align-content: center;
  opacity: 1;
  transform: translateX(0);
  clip-path: inset(0 0 0 0); /* Mostra o conteúdo */
  width: auto; /* Ajusta para o tamanho do conteúdo */
}

.text-desc {
  font-size: small;
  opacity: 0;
  transform: translateX(-20px); /* Começa levemente deslocado à esquerda */
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  overflow: hidden;
  display: block;
}

.sidebar.expanded .contorno {
  cursor: pointer;
  padding: 5px;
}

.sidebar.expanded .contorno:hover {
  background-color: rgb(255, 183, 0);
  border-radius: 5px;
  transition: 0.5s;
  color: #000;
}

.sidebar.expanded .text-desc:hover {
  color: #000;
}

.sidebar.expanded .text-desc {
  opacity: 1;
  transform: translateX(0);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
