/* @import "toastify-js/src/toastify.css"; */
@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: "Lato Regular";
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000;
}

.container {
  color: "#fff";
  margin: auto;
  background-color: none;
  border-radius: 20px;
  /* box-shadow: 4px 4px 4px 4px #f8f8f8; */
}

.navbar {
  background-color: #515151;
}

.navbar > .container-fluid {
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav > .container-fluid > .logo-home {
  color: #fff;
  font-family: "Bebas Neue";
}

nav > .container-fluid > .pages-home {
  color: #fff;
  align-items: center;
  font-family: "Lato Regular";
  display: flex;
  gap: 30px;
}

nav > .container-fluid > a {
  color: #fff;
  text-decoration: none;
  text-transform: none;
}

main {
  display: flex;
  flex: 1;
}

main > section > .container > .title-home {
  color: #fff;
  text-align: center;
}

.content {
  flex: 3;
  padding: 20px;
}

.sidebar {
  flex: 0.05;
  /* height: 100vh; */
  min-height: max-content;
  padding: 20px;
  background-color: #ccc;
  transition: 0.5s ease-in-out;
}

.sidebar > .box-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.middle-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: 0.5s;
}

.footer-sidebar {
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.sidebar > .box-sidebar > .header-sidebar > .icon-hamburguer {
  display: flex;
  width: 100%;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-start;
  align-items: flex-end;
  cursor: pointer;
  color: #000;
}

.sidebar > .box-sidebar > .icon-servicos {
  align-self: center;
}

.sidebar.expanded {
  flex: 0.5;
}

.sidebar.expanded .middle-sidebar {
  align-items: flex-start;
}

.sidebar.expanded .footer-sidebar {
  align-items: flex-start;
}

.sidebar > .box-sidebar > .header-sidebar > .icon-hamburguer > .list {
  width: 30px;
  height: 1px;
  border: 1px solid #000;
  background-color: #000;
  transition: 0.5s;
}

.icons {
  transition: 0.5s;
}

.icons:hover {
  transition: 1;
  transform: scale(1.2);
}

.icons > .bi {
  font-size: x-large;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
