/* @import "toastify-js/src/toastify.css"; */
@font-face {
  font-family: 'Bebas Neue';
  src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: 'Lato Regular';
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Special Elite';
  src: url(../fonts/Special_Elite/SpecialElite-Regular.ttf);
}

@font-face {
  font-family: 'Germania One';
  src: url(../fonts/Germania_One/GermaniaOne-Regular.ttf);
}

body {
  background-color: #000;
  background-image: url(../assets/img/home_background.jpg);
  background-size: cover;
  
}

.container {
  justify-content: center;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  background-color: none;
  border-radius: 20px;
}

.box-text {
  color: #fff;
  margin: 30px 0px 30px 0px;
  text-align: center;
}

.titleLogin {
  font-size: x-large;
  margin-bottom: 20px;
}

.spanTitleLogin, .spanTextLogin {
  font-family: 'Germania One';
}

.textLogin {
  font-size: medium;
  margin-bottom: 20px;
}

.box-form {
  display: grid;
  justify-items: center;
  width: 100%;
}

.box-login {
  margin: auto;
  padding: 10px;
}

#form-login {
  background-color: #fff;
  width: 400px;
}

#form-login .form-control:focus {
  box-shadow: none;
  border-color: rgb(255, 183, 0);
}

#form-login label {
  font-family: 'Special Elite';
  font-size: medium;
  font-weight: 550;
}


#form-login input::placeholder {
  font-family: 'Special Elite';
  font-size: small;
  font-style: italic;
}

#form-login .form-group {
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

#form-login .btn_login {
  font-family: 'Special Elite';
  width: 100%;
  background-color: rgb(255, 183, 0);
  border-color: rgb(255, 183, 0);
}

#form-login .btn_login:hover{
  background-color: rgb(202, 146, 3);
}

.box-account {
  margin: 10px;
}

.add-account, .forgot-pass {
  font-family: 'Special Elite';
  font-size: small;
  cursor: pointer;
  font-weight: 400;
  transition: font-weight 0.4s ease, color 0.4s ease;
}

.add-account:hover, .forgot-pass:hover {
  font-weight: 700;
  transform: scale(1.02);
  color: rgb(79, 79, 79);
}

/* MODAL CADASTRO */


#staticModalCadastro .modal-header {
  padding: 10px;
  border-bottom: none;
}

#staticModalCadastro .modal-box-header {
  width: 100%;
  height: 50px;
  margin: 0.5px;
  display: flex;
  background-color: rgb(255, 183, 0);
  justify-content: center;
  border-radius: 3px;
}

#staticModalCadastro .modal-box-title {
  align-content: center;
}

#staticModalCadastro .form-control:focus {
  box-shadow: none;
  border-color: rgb(255, 183, 0);
}

#staticModalCadastro label {
  font-family: 'Special Elite';
  font-size: medium;
  font-weight: 550;
}

#staticModalCadastro input::placeholder {
  font-size: small;
  font-family: 'Special Elite';
  font-style: italic;
}

#staticModalCadastro .form-group {
  padding: 10px;
}

#cadastro_usuario {
  font-size: medium;
  color: #000;
  background-color: rgb(255, 183, 0);
  transition: 0.5s;
}

#cadastro_usuario:hover {
  background-color: rgb(195, 145, 19)
}

/* MODAL RECUPERAR SENHA */

#staticModalRecuSenha .modal-header {
  padding: 10px;
  border-bottom: none;
}

#staticModalRecuSenha .modal-box-header {
  width: 100%;
  height: 50px;
  margin: 0.5px;
  display: flex;
  background-color: rgb(255, 183, 0);
  justify-content: center;
  border-radius: 3px;
}

#staticModalRecuSenha .modal-box-title {
  align-content: center;
}

#staticModalRecuSenha .form-control:focus {
  box-shadow: none;
  border-color: rgb(255, 183, 0);
}

.text_recu_senha {
  color: #949494;
  font-size: small;
  margin: 0%;
  padding-left: 20px;
  padding-right: 20px;
}

#staticModalRecuSenha label {
  font-family: 'Special Elite';
  font-size: medium;
  font-weight: 550;
}

#staticModalRecuSenha input::placeholder {
  font-size: small;
  font-family: 'Special Elite';
  font-style: italic;
}

#recu_senha {
  font-size: medium;
  color: #000;
  background-color: rgb(255, 183, 0);
  transition: 0.5s;
}

#recu_senha:hover {
  background-color: rgb(195, 145, 19)
}

/* MODAL DE ALTERAR SENHA */

#staticModalAlterarSenha .modal-header {
  padding: 10px;
  border-bottom: none;
}

#staticModalAlterarSenha .modal-box-header {
  width: 100%;
  height: 50px;
  margin: 0.5px;
  display: flex;
  background-color: rgb(255, 183, 0);
  justify-content: center;
  border-radius: 3px;
}

#staticModalAlterarSenha .modal-box-title {
  align-content: center;
}

.modal-box-title > h1 {
  font-family: 'Special Elite';
  font-weight: 700;
}

.boxModal .form-group {
  padding: 10px;
}

#staticModalAlterarSenha .form-control:focus {
  box-shadow: none;
  border-color: rgb(255, 183, 0);
}

#staticModalAlterarSenha label {
  font-family: 'Special Elite';
  font-size: medium;
  font-weight: 550;
}

#staticModalAlterarSenha input::placeholder {
  font-size: small;
  font-family: 'Special Elite';
  font-style: italic;
}

#alterar_senha {
  font-size: medium;
  color: #000;
  background-color: rgb(255, 183, 0);
  transition: 0.5s;
}

#alterar_senha:hover {
  background-color: rgb(195, 145, 19)
}

/* LOADING MODAL */

#loadingModal {
  /* display: none; escondido por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* fundo semitransparente */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}