/* @import "toastify-js/src/toastify.css"; */
@font-face {
  font-family: 'Bebas Neue';
  src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: 'Lato Regular';
  src: url(../fonts/Lato/Lato-Regular.ttf);
}


body {
  background-color: #000;
}

.container {
  justify-content: center;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  background-color: none;
  border-radius: 20px;
  /* box-shadow: 4px 4px 4px 4px #f8f8f8; */
}

.box-text {
  color: #fff;
  margin: 30px 0px 30px 0px;
  text-align: center;
}

.titleLogin {
  font-size: larger;
  margin-bottom: 20px;
}

.textLogin {
  font-size: medium;
  margin-bottom: 20px;
}

.box-form {
  display: grid;
  justify-items: center;
  width: 100%;
}

.box-login {
  margin: auto;
  padding: 10px;
}

#form-login {
  width: 400px;
}

#form-login .form-control:focus {
  box-shadow: none;
  border-color: rgb(255, 183, 0);
}

#form-login label {
  font-family: 'Bebas Neue';
  font-size: medium;
  font-weight: 550;
}

#form-login input::placeholder {
  font-size: small;
  font-family: 'Lato Regular';
  font-style: italic;
}

#form-login .form-group {
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

#form-login .btn_login {
  width: 100%;
  background-color: rgb(255, 183, 0);
  border-color: rgb(255, 183, 0);
}

#form-login .btn_login:hover{
  background-color: rgb(202, 146, 3);
}

.box-account {
  margin: 10px;
}

.add-account {
  font-size: small;
  cursor: pointer;
}

.add-account:hover {
  font-weight: bold;
  color: rgb(79, 79, 79);
}

.forgot-pass {
  font-size: small;
  cursor: pointer;
}

.forgot-pass:hover {
  font-weight: bold;
  color: rgb(79, 79, 79);
}

/* modal */

#staticModalCadastro .form-control:focus {
  box-shadow: none;
  border-color: rgb(255, 183, 0);
}

#staticModalCadastro label {
  font-family: 'Bebas Neue';
  font-size: medium;
  font-weight: 550;
}

#staticModalCadastro input::placeholder {
  font-size: small;
  font-family: 'Lato Regular';
  font-style: italic;
}

#staticModalCadastro .form-group {
  padding: 10px;
}

